* {
  box-sizing: border-box;
}

body {
  background-color: rgb(54, 53, 61);
  margin: 0;
  color: white;
  font-family: SourceCodePro, monospace;
  font-size: clamp(14px, 10vw, 2vmin);
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

h1 {
  margin-top: 0;
}

h1,
p {
  text-shadow: 8px 8px 8px black;
}

a {
  color: white;
  text-decoration: none;
  color: #6aa1c1;
}

a:hover {
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vmin;
  flex: 1;
}

.description,
.user-background {
  position: relative;
  z-index: 1;
}

.app-background {
  background-image: url('./../img/react-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.particles {
  position: absolute;
  top: 0;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.subtitle {
  font-size: 2vmin;
}

.socials_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vmin;
}

.socials {
  max-width: 200px;
  width: 100%;
  color: #2f4553;
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.socials__item {
  display: inline-flex;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.socials__item svg {
  width: 2.6vw;
  height: 2.6vw;
  min-width: 26px;
  min-height: 26px;
}

.user-image {
  z-index: 1;
  max-width: 550px;
  box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: SourceCodePro;
  src: url('./../fonts/SourceCodePro-SemiBold.ttf') format('truetype');
}
